._1aqb{width:496px}
.sp_zRjW-EHrW1v{background-image:url(/rsrc.php/v3/yL/r/pO38qKbD2hk.png);background-size:auto;background-repeat:no-repeat;display:inline-block;height:24px;width:24px}.sp_zRjW-EHrW1v.sx_e41e19{width:16px;height:16px;background-position:0 -25px}.sp_zRjW-EHrW1v.sx_29d76e{background-position:0 0}

#bootloader_ORM_6{height:42px;}.bootloader_ORM_6{display:block!important;}